* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Nunito', sans-serif;
    background: #fefefe;
    color: #333;
    line-height: 1.6;
  }
  .square1 {
  width: 140px;
  height: 82px;
  background-image: url("../img/387823___serialized1-removebg-preview.png");
  background-size: cover;
  margin: 0 auto; /* centraliza o logo */
  }

  header {
  background: #ffffff;
  color: white;
  padding: 12px ;
  text-align: center; /* Centraliza o conteúdo do cabeçalho */
  }
  

  header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  nav {
  display: inline-block; /* Centraliza o bloco de navegação */
  }

  nav ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Centraliza os itens do menu */
  }

  nav ul li {
  margin: 12px; /* Espaçamento entre os itens */
  }

  nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  }
  #reserva {
    padding: 50px;
    background-color: #f5f5f5;
}

.reserva-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reserva-form label {
    font-weight: bold;
    text-align: left;
}

.reserva-form input,
.reserva-form button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.reserva-form button {
    background-color: #352a2a;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.reserva-form button:hover {
    background-color: #ff0000;
}