* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Nunito', sans-serif;
    background: #fefefe;
    color: #333;
    line-height: 1.6;
  }
  /* Cabeçalho */
.square {
  background-color: #D9D9D9;
}

.square1 {
  width: 140px;
  height: 82px;
  background-image: url("../img/387823___serialized1-removebg-preview.png");
  background-size: cover;
  margin: 0 auto; /* centraliza o logo */
}

header {
  background: #ffffff;
  padding: 18px;
  text-align: center;
}

nav {
  margin-top: 15px;
}

nav ul {
  list-style: none;
  display: flex; 
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.3s ease;
}

nav ul li a:hover {
  background: #333;
  color: #fff;
}
  #reserva {
    padding: 80px;
    background-color: #f5f5f5;
    background-image: url(../img/4-platanos.jpg);
    background-size: cover;
}

.reserva-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reserva-form label {
    font-weight: bold;
    text-align: left;
}

.reserva-form input,
.reserva-form button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.reserva-form button {
    background-color: #352a2a;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.reserva-form button:hover {
    background-color: #ff0000;
}