/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.menu {
    padding: 20px 10%;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu .quadrado {
    width: 20%;
    background-color: #333;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 20px 20px;
    color: #fff;
    margin-left: 20px;
}
.menu .quadrado  img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.menu .quadrado h3{
    text-align: left;
    width: 70%;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 20px;
}

.menu .quadrado .price{
    font-size: 1.5rem;
    text-align: left;
    padding-left: 20px;
    color:#e47914;
    padding-top: 10px;
}


/* Estilização do corpo */
body {
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
}

/* Estilização do menu */
#menu {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  4px 8px rgba(0, 0, 0, 0.1);
}

.square1 {
    width: 140px;
    height: 82px;
    background-image: url("img/387823___serialized1-removebg-preview.png");
    background-size: cover;
    margin: 0 auto; /* centraliza o logo */
}

header {
    background: #ffffff;
    color: white;
    padding: 12px 0;
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
}

nav {
    display: inline-block; /* Centraliza o bloco de navegação */
}

nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
}
nav ul li {
    margin: 12px; /* Espaçamento entre os itens */
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    #menu {
        width: 90%;
    }

    h2 {
        font-size: 1.5em;
    }

    .menu-item p {
        font-size: 1em;
    }
}